
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}


body{
    background: url(img/foto.jpg);
}

img {
    height: 25px;

}



.container {
    background-color: #afd1e5;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}