
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}


h2{
    
    color: white;
    text-align: center;
    margin: 90px;
    font-family: 'Courier New', Courier, monospace;
    
}    

body{
    background: url(img/foto.jpg);
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}



.container {
    background-color: #008B8B;
    width: 500px;
    margin: 100px auto 0;
    padding: 20px;
    border-radius: 10px;
}

.input-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: calc(70% - 5px); 
    height: 40px;
    padding-left: 10px;
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: calc(30% - 5px); 
    background-color: #003329;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
    font-weight: 700;
}



.list-tasks {
    width: 100%;
    list-style: none;
}

.task {
    background-color: #E0FFFF;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #8fac55;
    text-decoration: line-through;
}


@media (max-width: 600px) {
    .container {
        width: 90%;
        margin: 50px auto 0;
    }

    .button-add-task {
        font-size: 14px;
    }

    .list-tasks {
        margin-top: 20px;
    }

    .task {
        height: 40px;
    }
}

@media (max-width: 420px) {
    .container {
        width: 95%;
    }
}
